*{
	box-sizing: border-box;
	margin: 0px;
	font-family: sans-serif;
}
.navmenu{
	font-size: 20px;
	color: royalblue;
	font-weight: bolder;
}
.logo{
	font-size: 25px;
	font-family: Elephant;
	font-variant: small-caps;
	color: orangereds;
}